[user]
	name = Alexander Bianchi
	email = alexbianchi15@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
[core]
	hooksPath = /home/bits/.global_hooks
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore_global
	untrackedCache = true
	fsmonitor = false
[interactive]
	diffFilter = delta --color-only
[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse
	light = false
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[push]
	autoSetupRemote = true
	default = current
[include]
	path = ~/.config/gitsign/gitconfig
[feature]
	manyFiles = true
